<nav class="absolute top-0 left-0 right-0 flex h-[56px] items-center justify-between px-8 z-10">
    <div>
        <img src="/assets/tesla-logo.png" alt="logo" class="h-[56px]">
    </div>
    <div>
        <ul class="hidden 1200:flex space-x-8 text-[14px] font-bold text-white">
            <a href="">
                <li>Vehicles</li>
            </a>
            <a href="">
                <li>Energy</li>
            </a>
            <a href="">
                <li>Charging</li>
            </a>
            <a href="">
                <li>Discover</li>
            </a>
            <a href="">
                <li>Shop</li>
            </a>
        </ul>
    </div>
    <div class="hidden 1200:flex space-x-4">
        <img src="/assets/svgs/questionmark.svg" alt="logo" class="w-[24px] h-[24px]">
        <img src="/assets/svgs/globe.svg" alt="logo" class="w-[24px] h-[24px]">
        <img src="/assets/svgs/account.svg" alt="logo" class="w-[24px] h-[24px]">
    </div>
    <div class="flex 1200:hidden">
        <h1 class="font-bold">Menu</h1>
    </div>
</nav>